<h1>My Portfolio</h1>

<div class='search-area'>
    <h3>Search Stocks</h3>
        <%= form_tag search_stock_path, remote: true, method: :get do %>
            <div class="form-group row">
                <div class="col s9">
                    <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
                </div>
                    <div class="col-sm-3">
                        <%= button_tag type: :submit, class: "btn btn-success" do %>
                            <%= 'Search' %>
                        <% end %>
                    </div>  
            </div>
    <% end %>

    <div id="request">
        

    </div>
</div>

  <% if !@tracked_stocks.empty? %>
      <table>
        <thead>
          <tr>
              <th>Ticker</th>
              <th>Name</th>
              <th>Price</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= stock.last_price %></td>
            <td><%= 'placeholder' %></td>
          </tr>
          <% end%>
        </tbody>
      </table>
<%end %>